@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');



body {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	background-color: #d0d0d0;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}
.wrapper__contant {
	max-width: 1470px;
	padding: 0 15px 15px 15px;
	margin: 0 auto;
}
.top-title {
	position: fixed;
	width: 100%;
	font-weight: 700;
	line-height: 1.5;
	font-size: 40px;
	color: #fff;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	text-align: center;
	background: linear-gradient(180deg, rgba(7, 183, 245, 1) 0%, rgba(157, 190, 123, 1) 50%, rgba(245, 226, 6, 1) 100%);
	margin-bottom: 30px;
	z-index: 100;
}
.contant {}
.contant__list-2d {
	border-bottom: 4px solid #6d6d6d;
	padding-bottom: 50px;
	margin-bottom: 30px;
}
.contant__list-3d {
	border-bottom: 4px solid #6d6d6d;
	padding-bottom: 50px;
	margin-bottom: 60px;
}
[class*="__box"] {
	margin-top: 50px;
	margin-left: 70px;
}
.title {
	font-weight: 600;
	line-height: 1.5;
	font-size: 40px;
	color: #008000;
	text-transform: uppercase;
	text-align: center;
}
.contant__box {
	display: inline-block;
	background-color: #aeaeae;
	border-radius: 10px;
}
[class*="__item"] {
	border: 15px solid #408080;
	border-radius: 10px;
	width: 200px;
	height: 200px;
	background-color: #004f75;
	color: #fff;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	padding-top: 75px;
	transition: 0.5s;
}
.contant__item-translate-x:hover {
	transform: translateX(50px);
	transition: 0.5s;
}
.contant__item-translate-xy:hover {
	transform: translate(50px, -50px);
	transition: 0.5s;
}
.contant__item-scale-big:hover {
	transform: scale(1.5);
	transition: 0.5s;
}
.contant__item-scale-small:hover {
	transform: scale(0.5);
	transition: 0.5s;
}
.contant__item-rotate:hover {
	transition: 1s;
	transform: rotate(500deg);
}
.contant__item-skew:hover {
	transition: 0.4s;
	transform: skew(20deg, -50deg);
}
.contant__item-matrix:hover {
	transform: matrix(1.5,1,0.5,2,4,20);
	transition: 0.5s;
}
.contant__item-multi:hover {
	transform:rotate(720deg) scale(1.2) translate(40px,-60px);
	transition: 1s;
}
.contant__item-multi2:hover {
	transform-origin: right top;
	transform: translate(20px, 30px) rotate(120deg) scale(1.5);
	transition: 1s;
	
}
.contant__item-transform-origin:hover {
	transition: 1s;
	transform-origin: right bottom;
	transform: scale(1.2) translate(90px);
}
/* ********************************** */
.contant__item-translate3d:hover {
	transform: translate3d(20px, -30px, 45px);
}
.contant__item-rotate3d:hover {
	transform: rotate3d(1, 3, 1, 55deg);
}
.contant__item-matrix3d:hover {
	transform: matrix3d(-0.5527199999999999, -0.17, -0.34, 0.001, 0.17, 0.588, 0.87, 0.002, 0.34, -0.87, -0.9, 0, 20, 10, 20, 1);
	transition: 1.2s;
}
.contant__item-transform3d:hover {
	transform: translate3d(20px, -30px, 45px) rotate3d(1, 3, 1, 55deg);
}
.contant__item-backface:hover {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
/* ********************************** */

.contant__section.section {
	max-width: 100%;
	height: 700px;
	background: url(img/road.webp) center / 90% no-repeat;
	margin-bottom: 30px;
}
.section {
}
.section__car.car {
	margin-top: 150px;
	margin-left: 200px;
	position: absolute;
}
.car {
	animation: car-race 5s linear 1 normal running 0s forwards;
}
.car__body-1 {
	top: 260px;
	left: 200px;
	width: 419px;
	height: 160px;
	border-radius: 100% 0% 100% 0% / 32% 100% 0% 68%;
	background: linear-gradient(5deg, rgba(0, 98, 145, 1) 0%, rgba(0, 58, 87, 1) 4%, rgba(0, 98, 145, 1) 36%, rgba(0, 58, 87, 1) 60%, rgba(0, 98, 145, 1) 90%, rgba(0, 58, 87, 1) 100%);
	border: 6px solid #00293e;
	position: absolute;
	z-index: 10;
}
.car__body-2 {
	top: 60px;
	left: 399px;
	width: 220px;
	height: 360px;
	border-radius: 97% 3% 100% 0% / 29% 100% 0% 71%;
	border: 6px #00293e;
	background: linear-gradient(15deg, rgba(0, 98, 145, 1) 0%, rgba(0, 58, 87, 1) 4%, rgba(0, 98, 145, 1) 36%, rgba(0, 58, 87, 1) 60%, rgba(0, 98, 145, 1) 90%, rgba(0, 58, 87, 1) 100%);
	border-style:  solid solid solid none;
	position: absolute;
	z-index: 1;
}
.car__wheel-1 {
	position: absolute;
	top: 395px;
	left: 155px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 16px dashed #000;
	z-index: 20;
	animation: wheels-rotate 5s linear 1;
}
.car__wheel-inside1 {
	position: absolute;
	top: 400px;
	left: 160px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 74, 74, 1) 100%);
	border: 20px solid #000;
	z-index: 20;
}
.car__wheel-cover1 {
	position: absolute;
	top: 376px;
	left: 164px;
	width: 122px;
	height: 120px;
	transform: rotate(46deg);
	border-radius: 50%;
	border-top: 12px solid #000000;
	z-index: 20;
}
.car__wheel-2 {
	position: absolute;
	top: 300px;
	left: 484px;
	width: 205px;
	height: 205px;
	border-radius: 50%;
	border: 26px dashed #000;
	z-index: 20;
	animation: wheels-rotate 5s linear 1;
}
.car__wheel-inside2 {
	position: absolute;
	top: 316px;
	left: 500px;
	width: 174px;
	height: 174px;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 74, 74, 1) 100%);
	border: 30px solid #000;
	z-index: 20;
}
.car__wheel-cover2 {
	position: absolute;
	top: 280px;
	left: 460px;
	width: 220px;
	height: 200px;
	transform: rotate(-34deg);
	border-radius: 50%;
	border-top: 16px solid #000000;
	z-index: 20;
}
.car__window {
	top: 87px;
	left: 417px;
	width: 156px;
	height: 166px;
	border-radius: 97% 3% 100% 0% / 50% 100% 0% 40%;
	background: linear-gradient(59deg, rgba(231, 231, 231, 1) 0%, rgba(192, 192, 192, 1) 20%, rgba(231, 231, 231, 1) 40%, rgba(192, 192, 192, 1) 60%, rgba(231, 231, 231, 1) 80%, rgba(192, 192, 192, 1) 100%);
	position: absolute;
	opacity: 0.9;
	z-index: 5;
	animation: open-window 4s linear 1 normal running 1s forwards;
}
.car__driver {
	top: 80px;
	left: 410px;
	width: 170px;
	height: 180px;
	border-radius: 97% 3% 100% 0% / 50% 100% 0% 40%;
	border: 7px solid #00293e;
	background: url(img/dis.webp) right;
	position: absolute;
	z-index: 4;
}
.car__door {
	top: 256px;
	left: 410px;
	width: 170px;
	height: 150px;
	border: 7px solid #00293e;
	background: linear-gradient(165deg, rgba(0, 98, 145, 1) 0%, rgba(0, 58, 87, 1) 4%, rgba(0, 98, 145, 1) 36%, rgba(0, 58, 87, 1) 60%, rgba(0, 98, 145, 1) 90%, rgba(0, 58, 87, 1) 100%);
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 16%, 67% 26%, 49% 42%, 38% 64%, 32% 100%);
	position: absolute;
	z-index: 10;
}
.car__handle {
	top: 266px;
	left: 480px;
	width: 50px;
	height: 20px;
	border: 7px solid #00293e;
	background-color: #003a57;
	position: absolute;
	z-index: 20;
}
.car__motor {
	position: relative;
	top: 168px;
	left: 230px;
	width: 140px;
	height: 200px;
	border-radius: 6%;
	border: 10px #002537;
	border-style: none none solid none;
	z-index: 10;
}
.car__motor-tube {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 180px;
	border-radius: 50% 50% 18% 100% / 2% 2% 12% 23%;
	border: 2px solid #00293e;
	background: linear-gradient(90deg, rgba(0, 58, 87, 1) 0%, rgba(0, 98, 145, 1) 50%, rgba(0, 58, 87, 1) 100%);
	z-index: 11;
}
.car__motor-line {
	position: absolute;
	top: 150px;
	left: 55px;
	width: 80px;
	height: 30px;
	border-radius: 5%;
	border: 10px #002537;
	border-style: solid none solid none;
	z-index: 11;
}

/* ********************************** */

.to-start {
	font-weight: bold;
	font-size: 20px;
	color: #14396A;
	text-shadow: 1px 1px 0px #7CACDE;
	box-shadow: 0px 5px 0px #07304b;
	text-align: center;
	padding: 10px 10px;
	border: 2px solid #3866A3;
	background: #63B8EE;
	background: linear-gradient(to top, #63B8EE, #468CCF);
	position: fixed;
	bottom: 10px;
	right: 0px;
	width: 100%;
	z-index: 50;
	transition: all 0.3s;
}
.to-start:active {
	border: 1px solid #3866A3;
	box-shadow: 0px 1px 0px #07304b;
	background: #63B8EE;
	background: linear-gradient(to top, #468CCF, #63B8EE);
}

/* ********************************** */

@keyframes wheels-rotate {
	0% {
		transform: rotate(0deg);
	}

	40% {
		transform: rotate(100deg);
	}

	50% {
		transform: rotate(-200deg);
	}

	100% {
		transform: rotate(-460deg);
	}
}
@keyframes open-window {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}

	50% {
		transform: translateY(170px);
		height: 50px;
		opacity: 1;
	}

	100% {
		transform: translateY(170px);
		opacity: 0;
	}
}
@keyframes car-race {
	0% {
			transform: translate(-100%, 0px);
		}
	
	30% {
		transform: translate(50%, 0px);
	}

	60% {
		transform: translate(50%, 0px) rotate(2deg);
		opacity: 1;
	}
	70% {
		transform: translate(40%, 0px) rotate(1deg);
		opacity: 1;
	}
	90% {
		transform: translate(-1000px, 0px);
		opacity: 1;
	}
	100% {
		transform: translate(-1000px, 0px);
		opacity: 0;
	}
}
