@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');




.contant {
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px auto;
}

.work-title {
	background: rgb(0, 142, 162);
	background: linear-gradient(180deg, rgba(0, 142, 162, 1) 0%, rgba(253, 247, 45, 1) 100%);
	font-family: "Poppins", sans-serif;
	color: #212B36;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	text-align: center;
}

.top-container {
	background: url(../img/top-img.png) center / cover no-repeat;
	background-attachment: fixed;
	padding-top: 330px;
	padding-bottom: 100px;
	min-height: 600px;
	font-family: "Poppins", sans-serif;
}

.data,
.text-1 {
	font-size: 12px;
	line-height: 1.67;
	color: #E5E5E5;
}

.main-text {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	max-width: 605px;
	margin-bottom: 15px;
}

.data{
	display: inline-block;
	margin-bottom: 15px;
}

.text-1 {
	max-width: 345px;
}

.main-container {
	background: linear-gradient(300deg, rgba(0, 0, 0, 0) 0%, rgba(48, 86, 211, 0.08) 40%, rgba(0, 0, 0, 0) 40%), linear-gradient(300deg, rgba(0, 0, 0, 0) 0%, rgba(48, 86, 211, 0.08) 30%, rgba(0, 0, 0, 0) 30%) #F4F7FF;
	min-height: 560px;
	padding: 145px 0;
}

.text-block {
	font-family: "Inter", sans-serif;
	background: url(../img/speaker.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: contain;
}

.text-box {
	max-width: 570px;
	min-height: 269px;
}

.price {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #3056D3;
	margin-bottom: 13px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	color: #212B36;
	margin-bottom: 15px;
}

.text-2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
	margin-bottom: 45px;
}

.button {
	background-color: #3056D3;
	border-radius: 45px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #FFFFFF;
	padding: 10px 30px;
}

.list-container {

	background: rgb(154, 207, 237);
	background: linear-gradient(120deg, rgba(154, 207, 237, 0.4150035014005602) 0%, rgba(172, 224, 215, 1) 50%, rgba(132, 84, 79, 1) 70%, rgba(55, 47, 110, 1) 75%, rgba(67, 127, 71, 1) 80%, rgba(222, 174, 214, 1) 95%, rgba(238, 230, 174, 0.5578606442577031) 100%);
	background-attachment: fixed;
	background-size: contain;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #637381;
	padding: 50px 0;
}

.list-block {
	
}

.list-title {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.08;
	color: #212B36;
	margin-bottom: 45px;
}

.list-point,
.list-circle-b,
.list-circle-g,
.list-cross,
.list-arrow,
.list-star {
	margin-bottom: 50px;
}

.list-point li {
	background: url(../img/point.png) 0 50% / 8px no-repeat;
	padding-left: 20px;
	line-height: 0.94;
	margin-bottom: 18px;
}

.list-circle-b li {
	background: url(../img/checkmark-circle_b.png) 0 50% / 20px no-repeat;
	padding-left: 32px;
	line-height: 1.4;
	margin-bottom: 18px;
}

.list-circle-g li {
	background: url(../img/checkmark-circle_g.png) 0 50% / 20px no-repeat;
	padding-left: 32px;
	line-height: 1.4;
	margin-bottom: 18px;
}

.list-cross li {
	background: url(../img/cross-circle.png) 0 50% / 20px no-repeat;
	padding-left: 32px;
	line-height: 1.4;
	margin-bottom: 18px;
}

.list-arrow li {
	background: url(../img/arrow-right.png) 0 50% / 20px no-repeat;
	padding-left: 32px;
	line-height: 1.4;
	margin-bottom: 18px;
}

.list-star li {
	background: url(../img/star.png) 0 50% / 20px no-repeat;
	padding-left: 32px;
	line-height: 1.4;
	margin-bottom: 18px;
}