@font-face {
    font-family: 'Kobzar KS';
    src: local('Kobzar KS'), local('KobzarKS'), url('kobzarks.woff2') format('woff2'), url('kobzarks.woff') format('woff'), url('kobzarks.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
