@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.main {
	background-color: #E5E5E5;
}

.main-container {
	max-width: 1440px;
	margin: 0px auto;
}

.contant {
	font-family: "Poppins", sans-serif;
	max-width: 1270px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px auto 80px;
}

.top-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.6;
	color: darkblue;
	text-align: center;
	text-decoration: underline;
	margin: 0px auto 40px auto;
	padding-top: 40px;
}

.text {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	color: #6C757D;
	max-width: 816px;
	margin: 0px auto 80px auto;
}

.title-1 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 400px;
	color: #212529;
	margin-bottom: 40px;
}

.parag-1,
.parag-2,
.parag-4,
.parag-7 {
	margin-bottom: 30px;
}

.img-desert {
	margin-bottom: 80px;
	border-radius: 5px;
}

.desert {
	max-width: 100%;
}

.title-2 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 605px;
	color: #212529;
	margin-bottom: 40px;
}

.title-3 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 605px;
	color: #212529;
	margin-bottom: 100px;
}

.double-images {
	font-size: 0;
	margin-bottom: 80px;
}

.double-images-2 {
	font-size: 0;
	margin-bottom: 30px;
}

.boat,
.lake,
.wardrobe,
.tomato-girl {
	max-width: 48.79%;
	border-radius: 5px;
}

.boat,
.wardrobe {
	margin-right: 1.2096%;
}

.lake,
.tomato-girl {
	margin-left: 1.2096%;
}

.image-big {
	max-width: 100%;
	margin-bottom: 100px;
}

.parag-8 {
	margin-bottom: 100px;
}

.parag-9 {
	padding-bottom: 40px;
}

.points {
	text-align: center;
	font-size: 0px;
	margin: 0px auto 64px auto;
}

.point {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #C4C4C4;
	margin-right: 10px;
}

.point-act {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #212529;
	background-color: #212529;
	margin-right: 10px;
}



.home-work {
	border-top: 5px solid #aba6dd;
	/* padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 30px; */
	padding: 30px 0px 30px 50px;
}

.task-1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0080c0;
	background-color: #80ff00;
	width: 200px;
	height: 50px;
	border: 5px solid green;
	text-align: center;
	box-shadow: 4px 4px 10px #0080c0;
	margin-bottom: 30px;
}

.task-2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
	font-weight: bold;
	color: #8080ff;
	background-color: #804000;
	width: 400px;
	text-align: center;
	border: 8px dashed #808040;
	border-radius: 1em;
	box-shadow: -10px -10px 10px #d6630e;
	margin-bottom: 30px;
}

.task-3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-style: oblique;
	color: #fff;
	background-color: #8080ff;
	width: 600px;
	height: 200px;
	border: 15px dotted #c0c0c0;
	border-radius: 10% 90% 10% 90% / 75% 30% 70% 20%;
	padding-top: 60px;
	padding-left: 20px;
	box-shadow: inset 0px 0px 30px 0px #000;
	margin-bottom: 30px;
}

.task-4 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-size: 35px;
	color: #ffc184;
	background-color: #820010;
	width: 1000px;
	height: 400px;
	padding-top: 140px;
	padding-left: 50px;
	border: 10px solid #400000;
	border-radius: 47% 53% 75% 25% / 63% 52% 48% 37%;
	box-shadow: 0px 0px 90px 0px #400000;
}

.task-4:hover {
	box-shadow: inset 0px 0px 90px 0px #000;
	opacity: 0.9;
}