
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.main {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
}

.main-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 60px;
	color: darkblue;
	text-align: center;
	text-decoration: underline;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 400px;
	
	color: #212529;
	margin: 40px auto;
}

.main-text {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	max-width: 816px;
	
	color: #6C757D;
	margin: 40px auto;
	
}

.title2 {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 605px;
	
	color: #212529;
	margin: 80px auto;
	
}

.parag-2 {
	margin: 25px auto;

}

.main-text2 {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	max-width: 816px;

	color: #6C757D;
	margin-top: 40px auto;
        

}

.parag-5 {
	margin-top: 25px;
}

.main-text3 {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	color: #6C757D;
	max-width: 816px;
	
	margin-top: 80px;
	
	margin-bottom: 100px;
}

.img {
max-width: 1240px;
margin: 0 auto;
}

.img-first {
	margin: 0 auto;
	border-radius: 5px;
}

.img-2 {
        margin: 15px auto;
	border-radius: 5px;
}

.img-3 {
        margin: 15px auto;
	border-radius: 5px;
}

.end {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 20px;
	color: blue;
	text-indent: 312px;
}
